<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Update birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Update a Birthday</h2>
                <p>Actual informations</p>
                {% for n in person %}
                <tr>
                    <td>{{n["name"]}}</td>
                    <td>{{n["month"]}}/{{n["day"]}}</td>
                </tr>

                <div class="content">

                    <form action="/update_profile" method="POST">
                        <input name="id" type="hidden" value="{{n.id}}">
                        <input type="text" name="name_update" id="person_name" placeholder="Name">
                        <input type="text" name="month_update" min="1" max="12" id="person_month" placeholder="Month">
                        <input type="text" name="day_update" min="1" max="31" id="person_day" placeholder="Day">
                        <input type="submit" value="Update Birthday">
                    </form>
                    {% endfor %}
                </div>
        </body>
</html>