{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Prices</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
            <tr>
                <td class="text-start">{{history.symbol}}</td>
                <td class="text-end">{{history.number_of_stock}}</td>
                <td class="text-end">{{history.price_stock}}</td>
                <td class="text-end">{{history.date_and_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}